body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}


.top-right-links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-right-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #1a73e8;
    font-size: 14px;
}

.top-right-links a:hover {
    text-decoration: underline;
}


.container {
    height: 100%;
    padding: 20px;
}


.container-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container-left-aligned {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}


.logo img {
    width: 272px;
    height: auto;
    margin-bottom:20px;
    
}

#subtitle {
  
    position:absolute;
    color: #1a73e8;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 72px 0px 0px 0px;
    
    
}


.logo-small img {
    width: 130px;
    height: 60%;
    margin-bottom: 20px;
}


.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.search-input {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-button, .lucky-button {
    width: 140px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.search-button:hover, .lucky-button:hover {
    background-color: #e8e9ea;
}


h1 {
    margin-bottom: 20px;
    color: rgb(224, 60, 60);
}

.advanced-search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.advanced-search-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.advanced-search-button {
    width: 160px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    align-self: flex-start;
}

.advanced-search-button:hover {
    background-color: #155ab6;
}
