{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1>Search Results</h1>
    {% if query %}
        <p>Results for "<strong>{{ query }}</strong>":</p>
        <ul>
            {% for result in results %}
                <li><a href="{% url 'encyclopedia:title' result %}">{{ result }}</a></li>
            {% empty %}
                <li>No results found.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No query provided.</p>
    {% endif %}
{% endblock %}
